$body-bg: #0f141a;
$body-color: #c5c5c5;

$primary: #191f26;
$secondary:#c8c9db;
$accent:#ffb454;
$darker: #4d4d4d;
$dark: #0f141a;
$light:#fff;
$success: #36663c;
$danger: #ac4221;
$warning: #ad842c;
$info: #357f96;
$light: #fff;
$disabled: #676767;

$theme-colors: ("primary": $primary, "secondary": $secondary, "accent": $accent, "darker": $darker, "dark": $dark);

$link-color: $secondary;
$link-decoration: none !default;
$link-hover-color: $accent;
$link-hover-decoration: none !default;

$component-active-color: $accent;
$component-active-bg: $darker;

$btn-disabled-opacity: 0.4;

$table-danger-color: #fff;

$input-border-color: darken($secondary, 30%);
$input-bg: $primary;
$input-disabled-bg: $disabled;
$input-color: #fff;
$input-focus-border-color: $secondary;
$input-group-addon-bg: $body-bg;

$custom-select-indicator-color: $secondary;

$container-max-widths: (sm: 600px, md: 700px, lg: 800px, xl: 1200px) !default;

$jumbotron-bg: $primary;

$card-bg: $primary;
$card-cap-bg: $primary;

$list-group-bg: $primary;

$custom-range-track-bg: $primary;
$custom-range-thumb-bg: $secondary;

$pagination-color: $secondary;
$pagination-bg: $primary;
$pagination-active-bg: $secondary;
$pagination-active-color: $primary;
$pagination-hover-bg: darken($primary, 5%);
$pagination-hover-color: $accent;
$pagination-disabled-bg: $primary;
$pagination-disabled-color: ligten($primary, 1%);

$dropdown-bg: $primary;
$dropdown-link-hover-bg: darken($primary, 5%);
$dropdown-link-hover-color: $accent;